

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    background-color: lightblue;
}


html {
    font-family: "helvetica neue", sans-serif;
}

main {
    background-color: lightblue;
}

footer {
    background-color: black;
    color: white
}

.title {
    text-align: center;
}

.jumbotron {
    text-align: center;
    margin-bottom: 0em;
    background-color: black;
    color: white;
    
}
.experience {
    padding-top: 150px;
}

.experience ul {
    list-style-type: none;
    
}

.doctor {
    padding-top: 145px;
}


.nav {
    padding-left: 0px;
    border-bottom: 1px solid #EAEAEB;
    text-align: right;
    height: 70px;
    line-height: 70px;
    background-color: black;
    list-style-type: none;
}
.menu {
    margin: 0 30px 0 0;
    z-index: 5000;
    position: relative;
    
}
.menu a {
    clear: right;
    
    text-decoration: none;
    color: white;
    margin: 0 10px;
    line-height: 70px;
}

label {
    margin: 0 40px 0 0;
    font-size: 25px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}
#toggle {
    display: none;
    
}


@media screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        background-color: white;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
        color: black
     
    }
    #toggle:checked + .menu {
        display: block;
        
    }
    
    
}

/* Width Covers 481px-768px */
@media screen and (min-width: 768px) {
    .jumbotron {
        padding-right: -40px;
    }
    body {
    background-color: grey;
    color: blue;
}

}

/* Width Covers 769px-1025px (and greater) */
@media screen and (min-width: 1025px) {
  body {
    background-color: grey;
    color: blue;
  }
}













  
  
  







/* Just for Reference */


/* Width Covers 0px-480px 
@media screen and (max-width: 480px) {
    
    }
    
}*/

/* Width Covers 481px-768px 
@media screen and (min-width: 768px) {
    body {
      
    }
}*/

/* Width Covers 769px-1025px (and greater) 
@media screen and (min-width: 1025px) {
  body {
    
  }
}*/