html, body {
    overflow-x: hidden;
    
}

.dropdown {
    
}

img:hover {
    transform: translateX(60px);
    
}

.form {
    padding-top: 50px;
}

main {
    background-color: lightblue;
    border-bottom: solid black 2px;
    background-size: cover;
    
    
}

.experience ul {
    list-style-type: none;
}


/* Width Covers 0px-480px */
@media screen and (max-width: 480px) { 
    nav ul { display: none; }
    nav select { display: inline-block; }
}

/* Width Covers 481px-768px */
@media screen and (min-width: 768px) {
    body {
      
    }

}

/* Width Covers 769px-1025px (and greater) */
@media screen and (min-width: 1025px) {
  body {
    
  }

}